
#forum-section-create .card {
    position: relative;
    margin: 0 0 0 0 !important;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

html {
    line-height: 1.2 !important;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #008f8f !important;
}

.select-wrapper span.caret {
    color: #008f8f !important;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 10px;
    line-height: 10px;
}