.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-30 {
    margin-top: 40px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-top-minus-10 {
    margin-top: -10px;
}
.btn-bg-dark-green {
    background-color: #024b5a;
    color: #fff;
}
.height-30px {
    height: 30px;
}
.background-color-dark-green {
    background-color: #024b5a;
    color: #fff;
}
.img-border-50-perc {
    border-radius: 50%;
}
.padding-15px {
    padding: 15px;
}
.border-bottom-blue {
    border-bottom:3px solid #04cae8;
}
.background-color-363838 {
    background-color: #363838;
}
.blue-text {
    color: #00deff !important;
}
.white-text {
    color: ##fff;
}
.font-size-16px {
    font-size: 16px;
}